#Item:hover{background-color: #f8f6f6; padding:0 .03rem; border-radius: .2rem;}

@media only screen and (max-width: 600px) {
    .appbar {margin-bottom: 5rem}
    .navXl { background-color: #fffffff1;}
  }